.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #ff7eb3, #ff758c);
  color: white;
  width: 100%;
}

.user-name {
  font-size: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.icon {
  height: 30px;
}

.profile-icon-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logout-form {
  position: absolute;
  top: 33px;
  right: -22px;
  border:none;
  padding: 0px;
  z-index: 10;
  width: 90px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: #ffaebb;

}

.profile-icon-container:hover .logout-form {
  opacity: 1;
  visibility: visible;
}
.logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width:90px;
  height: 5vh;
  font-size: 15px;
  border:none;
  border-radius:0px;
  color: white;
  gap: 5px;
  background-color: #ffaebb;

}


.logout-icon {
  height: 20px;
  width: 20px;
}

.logout-btn:hover {
  background-color: #e38595;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .header {
      z-index: 3;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      text-align: center;
      padding: 0px 20px;
      padding-right: 10px;
      background: linear-gradient(to right, #ff7eb3, #ff758c);
      color: white;
  }

  .logo {
      font-size: 16px;
  }

  .icon {
      height: 28px;
  }
}