.graf-i-forma {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.graf-container {
  flex: 3;
  margin-right: 20px;
}

.forma-container {
  flex: 1;
}


.add-button {
  background-color: #f0ad4e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.add-button:hover {
  background-color: #ec971f;
}

.delete-mode-button {
  margin-top: 10px;
  background-color: #d9534f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-mode-button:hover {
  background-color: #c9302c;
}



.karte-button {
  background-color: #1f26ec;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.karte-button:hover {
  background-color: #181fe9;
}

