.outer-enroll-container {
    display: flex;
    align-items: center; /* Center vertically */
    gap: 30px; /* Space between the text and form */
    justify-content: center;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.enroll {
    font-size: 1rem;
    color: #333;
    max-width: 200px;
    text-align: left; /* Align text to the left */
}

.enroll-container {
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    min-width: 300px;
    box-sizing: border-box;
}
