.empty-container{
    display: flex;
    flex-direction: column;
}

.sidebar-left {
    overflow-y: auto;
}

.activities-container {
    margin: 20px;
}

.checkbox-form {
    margin-top: 10px;
}

.checkbox-list {
    list-style: none;
    padding: 0;
}

.checkbox-item {
    margin: 5px 0;
}