* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background: #fff;
  color: #333;
}

/* Homepage container - adding padding-top to avoid overlap with fixed header */
.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.homepage-container {
  display: flex;
  flex: 1;
  width: 100vw;
  background-color: #f7f7f7; /* Background for the main content area */
  margin-top: 60px; /* Add space for the header */
}

/* Sidebar Styles */
.sidebar-left {
  background-color: #f4f4f4;
  padding: 20px;
  width: 200px;
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
  color: #555;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.sidebar-button:hover {
  background-color: #ddd;
}

.sidebar-button.gray {
  background-color: #ccc; /* Light gray background */
  color: #333; /* Darker text color */
}

.sidebar-button.gray:hover {
  background-color: #bbb; /* Slightly darker gray on hover */
}

/* Main Content Area */
.main-content {
  flex: 1;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px; /* Space between sidebar and main content */
  border-radius: 8px;
}

/* Right Sidebar */
.sidebar-right {
  background-color: #f4f4f4;
  padding: 20px;
  width: 200px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h1 {
  color: #333;
}



/* Custom Media Queries */
@media (max-width: 768px) {
  .homepage-container {
      flex-direction: column;
      margin-top: 80px; 
  }

  .sidebar-left, .sidebar-right {
      width: 100%;
      box-shadow: none;
  }

  .main-content {
      margin-left: 0;
  }

}